<section id="about" class="about-mf sect-pt4 route">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="box-shadow-full">
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-sm-6 col-md-5">
                  <div class="about-img">
                    <img src="assets/img/profil-iheb.jpg" class="img-fluid rounded b-shadow-a" alt="">
                  </div>
                </div>
                <div class="col-sm-6 col-md-7">
                  <div class="about-info">
                    <p><span class="title-s">{{ 'ABOUT.NAME' | translate }}</span> <span>{{ 'ABOUT.NAME_VALUE' | translate }}</span></p>
                    <p><span class="title-s">{{ 'ABOUT.PROFILE' | translate }}</span> <span>{{ 'ABOUT.PROFILE_VALUE' | translate }}</span></p>
                    <p><span class="title-s">{{ 'ABOUT.EMAIL' | translate }}</span> <span>{{ 'ABOUT.EMAIL_VALUE' | translate }}</span></p>
                    <p><span class="title-s">{{ 'ABOUT.PHONE' | translate }}</span> <span>{{ 'ABOUT.PHONE_VALUE' | translate }}</span></p>
                  </div>
                </div>
              </div>
              <div class="skill-mf">
                <p class="title-s">{{ 'ABOUT.SKILLS_TITLE' | translate }}</p>

                  <span>JAVA</span> <span class="pull-right">70%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuemin="0"
                         aria-valuemax="100"></div>
                  </div>
                <span>JAVA FX</span> <span class="pull-right">80%</span>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuemin="0"
                       aria-valuemax="100"></div>
                </div>
                <span>HTML</span> <span class="pull-right">70%</span>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuemin="0"
                       aria-valuemax="100"></div>
                </div>
                <span>CSS</span> <span class="pull-right">75%</span>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuemin="0"
                       aria-valuemax="100"></div>
                </div>
                <span>SPRING BOOT</span> <span class="pull-right">80%</span>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuemin="0"
                       aria-valuemax="100"></div>
                </div>
                <span>ANGULAR</span> <span class="pull-right">60%</span>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuemin="0"
                       aria-valuemax="100"></div>
                </div>
                <span>SQL</span> <span class="pull-right">70%</span>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuemin="0"
                       aria-valuemax="100"></div>
                </div>
                <span>PHP</span> <span class="pull-right">40%</span>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuemin="0"
                       aria-valuemax="100"></div>
                </div>
                </div>

            </div>
            <div class="col-md-6">
              <div class="about-me pt-4 pt-md-0">
                <div class="title-box-2">
                  <h5 class="title-left">
                    {{ 'ABOUT.ABOUT_ME_TITLE' | translate }}
                  </h5>
                </div>
                <p class="lead">
                  {{ 'ABOUT.ABOUT_ME_CONTENT_1' | translate }}
                </p>
                <p class="lead">
                  {{ 'ABOUT.ABOUT_ME_CONTENT_2' | translate }}
                </p>
              </div>
              <div class="d-flex justify-content-center mt-4">
                <button class="button" type="button" (click)="downloadResume()">
                  <span class="button__text">{{ 'ABOUT.DOWNLOAD_RESUME' | translate }}</span>
                  <span class="button__icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35 35" id="bdd05811-e15d-428c-bb53-8661459f9307" data-name="Layer 2" class="svg"><path d="M17.5,22.131a1.249,1.249,0,0,1-1.25-1.25V2.187a1.25,1.25,0,0,1,2.5,0V20.881A1.25,1.25,0,0,1,17.5,22.131Z"></path><path d="M17.5,22.693a3.189,3.189,0,0,1-2.262-.936L8.487,15.006a1.249,1.249,0,0,1,1.767-1.767l6.751,6.751a.7.7,0,0,0,.99,0l6.751-6.751a1.25,1.25,0,0,1,1.768,1.767l-6.752,6.751A3.191,3.191,0,0,1,17.5,22.693Z"></path><path d="M31.436,34.063H3.564A3.318,3.318,0,0,1,.25,30.749V22.011a1.25,1.25,0,0,1,2.5,0v8.738a.815.815,0,0,0,.814.814H31.436a.815.815,0,0,0,.814-.814V22.011a1.25,1.25,0,1,1,2.5,0v8.738A3.318,3.318,0,0,1,31.436,34.063Z"></path></svg></span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
