<section id="service" class="services-mf route">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="title-box text-center">
          <h3 class="title-a">
            {{ 'SERVICES.TITLE' | translate }}
          </h3>
          <p class="subtitle-a">
          </p>
          <div class="line-mf"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="service-box">
          <div class="service-ico">
            <span class="ico-circle"><i class="ion-monitor"></i></span>
          </div>
          <div class="service-content">
            <h2 class="s-title">{{ 'SERVICES.WEB_DESIGN.TITLE' | translate }}</h2>
            <p class="s-description text-center">
              {{ 'SERVICES.WEB_DESIGN.DESCRIPTION' | translate }}
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-box">
          <div class="service-ico">
            <span class="ico-circle"><i class="ion-code-working"></i></span>
          </div>
          <div class="service-content">
            <h2 class="s-title">{{ 'SERVICES.WEB_DEVELOPMENT.TITLE' | translate }}</h2>
            <p class="s-description text-center">
              {{ 'SERVICES.WEB_DEVELOPMENT.DESCRIPTION' | translate }}
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-box">
          <div class="service-ico">
            <span class="ico-circle"><i class="ion-android-phone-portrait"></i></span>
          </div>
          <div class="service-content">
            <h2 class="s-title">{{ 'SERVICES.RESPONSIVE_DESIGN.TITLE' | translate }}</h2>
            <p class="s-description text-center">
              {{ 'SERVICES.RESPONSIVE_DESIGN.DESCRIPTION' | translate }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="section-counter paralax-mf bg-image" style="background-image: url(assets/img/counters-bg.jpg)">
  <div class="overlay-mf"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-lg-3">
        <div class="counter-box">
          <div class="counter-ico">
            <span class="ico-circle"><i class="ion-checkmark-round"></i></span>
          </div>
          <div class="counter-num">
            <p class="counter">10</p>
            <span class="counter-text">{{ 'SERVICES.COUNTERS.WORKS_COMPLETED.TEXT' | translate }}</span>
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-lg-3">
        <div class="counter-box pt-4 pt-md-0">
          <div class="counter-ico">
            <span class="ico-circle"><i class="ion-ios-calendar-outline"></i></span>
          </div>
          <div class="counter-num">
            <p class="counter">2</p>
            <span class="counter-text">{{ 'SERVICES.COUNTERS.YEARS_OF_EXPERIENCE.TEXT' | translate }}</span>
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-lg-3">
        <div class="counter-box pt-4 pt-md-0">
          <div class="counter-ico">
            <span class="ico-circle"><i class="ion-ios-people"></i></span>
          </div>
          <div class="counter-num">
            <p class="counter">8</p>
            <span class="counter-text">{{ 'SERVICES.COUNTERS.TOTAL_CLIENTS.TEXT' | translate }}</span>
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-lg-3">
        <div class="counter-box pt-4 pt-md-0">
          <div class="counter-ico">
            <span class="ico-circle"><i class="ion-ribbon-a"></i></span>
          </div>
          <div class="counter-num">
            <p class="counter">7</p>
            <span class="counter-text">{{ 'SERVICES.COUNTERS.AWARDS_WON.TEXT' | translate }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
