<section id="blog" class="blog-mf sect-pt4 route">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="title-box text-center">
          <h3 class="title-a">
            Blog
          </h3>
          <div class="line-mf"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4" >
        <div class="card card-blog" >
          <div class="card-img">
            <a href="blog-single.html"><img src="assets/img/blogs/java-fullstack.jpg" alt="" class="img-fluid"></a>          </div>
          <div class="card-body">
            <div class="card-category-box">
              <div class="card-category">
                <h6 class="category">{{'BLOG.1.CATEGORY' | translate}}</h6>
              </div>
            </div>
            <h3 class="card-title"><a href="blog-single.html">{{'BLOG.1.CARD_TITLE' | translate}}</a></h3>
            <p class="card-description">
              {{'BLOG.1.DESCRIPTION' | translate}}
            </p>
          </div>
          <div class="card-footer">
            <div class="post-author">
              <a href="#">
                <img src="assets/img/profil-iheb.jpg" alt="" class="avatar rounded-circle">
                <span class="author">iheb</span>
              </a>
            </div>
            <div class="post-date">
              <span class="ion-ios-clock-outline"></span>{{'BLOG.1.DATE' | translate}}
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-4" >
        <div class="card card-blog" >
          <div class="card-img">
            <a href="blog-single.html"><img src="assets/img/blogs/software-dev.jpg" alt="" class="img-fluid"></a>
          </div>
          <div class="card-body">
            <div class="card-category-box">
              <div class="card-category">
                <h6 class="category">{{'BLOG.2.CATEGORY' | translate}}</h6>
              </div>
            </div>
            <h3 class="card-title"><a href="blog-single.html">{{'BLOG.2.CARD_TITLE' | translate}}</a></h3>
            <p class="card-description">
              {{'BLOG.2.DESCRIPTION' | translate}}            </p>
          </div>
          <div class="card-footer">
            <div class="post-author">
              <a href="#">
                <img src="assets/img/profil-iheb.jpg" alt="" class="avatar rounded-circle">
                <span class="author">iheb</span>
              </a>
            </div>
            <div class="post-date">
              <span class="ion-ios-clock-outline"></span> {{'BLOG.2.DATE' | translate}}
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-4" >
        <div class="card card-blog" >
          <div class="card-img">
            <a href="blog-single.html"><img src="assets/img/blogs/aa.png" alt="" class="img-fluid"></a>
          </div>
          <div class="card-body">
            <div class="card-category-box">
              <div class="card-category">
                <h6 class="category"> {{'BLOG.3.CATEGORY' | translate}}</h6>
              </div>
            </div>
            <h3 class="card-title"><a href="blog-single.html">{{'BLOG.3.CARD_TITLE' | translate}}</a></h3>
            <p class="card-description">
              {{'BLOG.3.DESCRIPTION' | translate}}            </p>
          </div>
          <div class="card-footer">
            <div class="post-author">
              <a href="#">
                <img src="assets/img/profil-iheb.jpg" alt="" class="avatar rounded-circle">
                <span class="author">iheb</span>
              </a>
            </div>
            <div class="post-date">
              <span class="ion-ios-clock-outline"></span>{{'BLOG.3.DATE' | translate}}
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-4" >
        <div class="card card-blog" >
          <div class="card-img">
            <a href="blog-single.html"><img src="assets/img/blogs/a-i.webp" alt="" class="img-fluid"></a>
          </div>
          <div class="card-body">
            <div class="card-category-box">
              <div class="card-category">
                <h6 class="category">{{'BLOG.4.CATEGORY' | translate}}</h6>
              </div>
            </div>
            <h3 class="card-title"><a href="blog-single.html"> {{'BLOG.4.CARD_TITLE' | translate}}</a></h3>
            <p class="card-description">
              {{'BLOG.4.DESCRIPTION' | translate}}
            </p>
          </div>
          <div class="card-footer">
            <div class="post-author">
              <a href="#">
                <img src="assets/img/profil-iheb.jpg" alt="" class="avatar rounded-circle">
                <span class="author">iheb</span>
              </a>
            </div>
            <div class="post-date">
              <span class="ion-ios-clock-outline"></span>{{'BLOG.4.DATE' | translate}}
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
